{# HTML 的form标签有2个属性，action 和 method#}
<!--
action 指定表单内容提交的地址，这里我们提交给comments:comment视图对应的url
method指定提交表单时的HTTP请求类型，一般表单提交都是使用POST
 csrf_token，这个模板标签在表单渲染时会自动渲染为一个隐藏类型的HTML input控件，其值为一个
随机字符串，作用主要是为了放回CSRF(跨域请求伪造)攻击。csrf_token在模板汇总徐然出来的内容大概
<input type="hidden" name="csrfmiddlewaretoken" value="KH9QLnpQPv2IBcv3oLsksJXdcGvKSnC8t0mTfRSeNIlk5T1G1MBEIwVhK4eh6gIZ">
-->
<form action="{% url 'comments:comment' post.pk %}" method="post" class="comment-form">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="col-md-4">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="col-md-4">
            <label for="{{ form.url.id_for_label }}">{{ form.url.label }}</label>
            {{ form.url }}
            {{ form.url.errors }}
        </div>
        <div class="col-md-12">
            <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
            {{ form.text }}
            {{ form.text.errors }}
            <button type="submit" class="comment-btn">发表</button>
        </div>
    </div> <!-- row -->
</form>