<h3>评论列表，共 <span>{{ comment_count }}</span> 条评论</h3>
<ul class="comment-list list-unstyled">
    {% for comment in comment_list %}
        <li class="comment-item">
            <span class="nickname">{{ comment.name }}</span>
            <time class="submit-date" datetime="{{ comment.create_time }}">{{ comment.create_time }}</time>
            <div class="text">
                <!--对评论内容使用过滤器linebreaks。
                    浏览器会将换行以及连续的多个空格合并为一个空格，这样显示的用户评论就会挤为一堆
                    linesbreaks过滤器预先将换行符替换为 br HTML标签，这样内容就能换行显示了-->
                {{ comment.text|linebreaks }}
            </div>
        </li>
    {% empty %}
        暂无评论
    {% endfor %}
</ul>